*{
    margin: 0;
    border: none;

    color: black;
}

body{
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

.content{
    position: absolute;
    
    width: 42vw;
    height: 92vh;

    padding: 4vw;

    background-color: white;
}

.text-big{
    display:block;
    width:100%;
    height: auto;

    font-size: 64px;

    margin-top: 10%;
}

.text-medium{
    display:block;

    width:100%;
    height: auto;

    margin-top: 5%;

    font-size: 24px;
}

a{
    display: inline-block;
    width: auto;
}

.grid{
    position: absolute;
    left:50%;
    top:0%;

    width:200%;
    height:200%;

    background-color: #17181A;

    background-image: url(images/zero_pattern.svg);
    background-repeat: repeat;
    background-size: 50%;

    

    z-index: -1;
}

.logo{
    display: block;
}

model-viewer{
    position: absolute;
    left:50%;

    width:70%;
    height:100%;
}

@media (max-width: 768px) {

    .content {
        width:92vw;
        height:50vh;
    }

    .logo {
        width: 80px;
    }

    .text-big {
        font-size: 6vw;
        margin-bottom: 10vw;
    }

    .text-medium{
        font-size: 5vw;
    }

    model-viewer{
        position: absolute;

        top:50vh;
        left:0px;
    
        width:100vw;
        height:50vh;
    }

    .grid{
        position: absolute;

        top:50vh;
        left:0px;
    
        width:100vw;
        height:50vh;

        display: none;
    }

}