*{
    margin: 0;
    border: none;

    color: black;
}

body{
    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

.content{
    position: absolute;
    
    width: 50%;
    height: 100%;

    padding: 4%;

    background-color: white;
}

.text-big{
    display:block;
    width:100%;
    height: auto;

    font-size: 64px;

    margin-top: 10%;
}

.text-medium{
    display:block;

    width:100%;
    height: auto;

    margin-top: 5%;

    font-size: 24px;
}

a{
    display: inline-block;
    width: auto;
}

.grid{
    position: absolute;
    left:50%;
    top:0%;

    width:200%;
    height:200%;

    background-color: #17181A;

    background-image: url(images/zero_pattern.svg);
    background-repeat: repeat;
    background-size: 50%;

    

    z-index: -1;
}

.logo{
    display: block;
}

model-viewer{
    position: absolute;
    left:50%;

    width:70%;
    height:100%;
}