html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    image-rendering: pixelated;

    background-color: #222222;
}

#info {
    color: white;

    margin: 5vw;
    margin-top: 10vw;
    font-family: Arial, Helvetica, sans-serif;
}

#surface {
    position: relative;
    left: 5vw;
    width: 90vw;
    height: 50vw;
    background-color: black;
}

#surface * {
    pointer-events: none;
}

#surface.dragover {
    outline: 2vw solid dodgerblue;
}

#left {
    position: absolute;
    width: 50%;
    height: 100%;
    rotate: 90deg;
    background-color: transparent;
    background-image: url("cube.gif");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#right {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    rotate: -90deg;
    background-color: transparent;
    background-image: url("cube.gif");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}